h1{
    color:rgb(235, 194, 70)15, 0.856
}
background{
    color: rgb(255, 220, 208);

}


body{
    height: 50px;
    text-align: center;
    color: rgb(83, 47, 0);
}

#pixiecut{
    margin-left: 50px;
    width: 50%;
    height: 340px;
}

#buzzcut {
width: 50%;
margin-left: 50px;
 height: 460px;
}
#sidecut { 
    margin-left: 50px;
 width: 100%;
 height: 300px;
}
#undercut{
    margin-left: 50px;
width: 100%;;
 height: 300px;
}
#bob{
    margin-left: 50px;
width: 100%;
 height: 300px
}