h1{
    color:rgb(235, 194, 70)15, 0.856
}
background{
    color: rgb(255, 220, 208);

}


body{
    height: 50px;
    text-align: center;
    color: rgb(83, 47, 0);
}

#pixiecut{
margin-left: 150px;
    width: 100%;
    margin-right: 160px;
}

#buzzcut {
width: 100%;
 height: 300px;
}
#sidecut { 
 width: 100%;
 height: 300px;
}
#undercut{
width: 100%;;
 height: 300px;
}
#bob{
width: 100%;
 height: 300px
}